build-*/
pico/build*/
third_party/fastdoom/
wads/
*.obj
*.o
*.exe
*.elf
*.uf2
*.map
*.bin
*.hex
*.dis
*.wav
.vscode/

__pycache__/
*.pyc
*.err
/third_party/pico-fatfs-sd
/microconsole_hardware/mc_hw/mc_hw-backups

~*.kicad_*.lck
*.kicad_prl
microconsole_hardware/mc_hw/mc_hw.kicad_prl
*.kicad_prl
/build
/games/ballet_demo
